body {
    background-color:rgb(39, 36, 54);
    color: rgb(187, 161, 226);
    font-family: monospace;
}

h1 {
    color:rgb(177, 136, 238);
}

.gridback {
    background-color: rgb(21, 19, 29);
    display: grid;
}

.container { 
    background-color: rgb(7, 12, 12);
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding: 16px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategray;
    align-self: center;
}

.codehilite {
    width: 464px;
}

blockquote {
    background-color: rgb(23, 31, 31);
    color:rgb(180, 161, 223);
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: darkslategray;
    padding: 16px;
}