//////////DECLARATIVE

@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

$text-main:       #CBC0CC;
$text-secondary:  rgb(155, 123, 158);
$code-gray:       #CBC0CC;
$soft-outline:    #CBC0CC70;
$line:            #464044;
$background-1:    #120D16;
$background-trans:#09000899;
$block-bg:        rgb(20, 24, 31);

@mixin box {
  background: $background-trans;
  border:     1px solid $text-main;
}

.container-x{
  display: flex;
}

.container-y{
  display: flex;
  flex-direction: column;
}

//////////CENTER

body{
  background:         #501346;
  background-image:     url(stars.png), linear-gradient(black, rgb(17, 36, 66), #501346);
  background-position:  left top, center;
  background-size:      auto, cover;
  background-repeat:    repeat, no-repeat;
}

#main{
  max-width:        1000px;
  margin:           auto;
  font-family:      'Assistant', sans-serif;
  color:            $text-main;
  height:           97vh;
  justify-content:  space-between;
  a{
    color:         #DD88DD;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
}

#inner-body{
  @include box;
  margin-left:  16px;
  margin-right: 16px;
  flex-grow:    10;
  overflow:     auto;
  min-width:    300px;
}

article{
  padding:    0px 16px 8px 16px;
  text-align: justify;
  h1,h2,h3,h4,h5{
    display: block;
    background: $block-bg;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
  }
  img{
    max-width: 100%;
    display:   block;
    margin:    auto;
  }
  pre{
    max-width: 100%;
    display:   block;
    margin:    auto;
    overflow:  auto;
    padding: 4px;
    border: 1px solid $soft-outline;
    border-radius: 2px;
  }
  code{
    background:black;
    padding:2px;
    color: $code-gray;
  }
  .subheader{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    color: $text-secondary;
  }
  .source-link{
    font-family: monospace;
    color: gray;
    text-align: center;
    display: block;
  }
  .img-collection{
    display: flex;
    width: 100%;
  }
  
  .img-collection-piece{
    display: inline;
    max-width:50%;
  }
}

iframe{
  margin: auto;
  align-self: center;
  border: none;
  width: 100%;
}

.img-footer{
  max-width: 75%;
  text-align: left;
  margin: 8px auto auto auto;
  font-size: 0.8em;
  background: $block_bg;
  padding: 8px;
  border-radius: 4px;
}

.back-button{
  align-self: center;
  display: flex;
  width: 25%;
  justify-content: center;
  border: 1px solid $soft-outline;
  background: black;
  margin: 4px;
  padding: 4px;
}

//////////ITEM-LISTS

.item-list{
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.list-item{
  margin: 8px 8px 16px 8px;
  padding: 8px;
  background: black;
  border: 1px solid $soft-outline;
}

.list-title{
  display: block;
  font-size: 1.3em;
  border-bottom: 1px solid $soft-outline;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.expand-icon{
  color: gray;
  font-family: monospace;
  font-size: 0.8em;
}

.list-footer{
  color: $text-secondary;
  display: flex;
  padding-top: 4px;
  justify-content: space-between;
  font-family: monospace;
}

.tag{
  margin-right: 4px;
  font-family: monospace;
}

.proj-content {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0px;
}

//////////NAV/SIDES

.navbar{
  @include box;
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
  width:          20%;
  min-width:      150px;
  max-width:      200px;
  color:          $text-main;
  padding:        8px;
  a{
    margin:       8px;
    padding-top:  8px;
    border-top:   1px solid $line;
  }
  .link-section{
    display:         flex;
    justify-content: flex-start;
    align-items:     center;
    margin:          0px;
    padding-top:     0px;
    border-top:      1px solid $line;
    .link-icon{
      flex-basis: 40px;
    }
    a{
      border-top:    none;
    }
    i{
      font-size:     2em;
      margin:        none;
      padding:       none;
    }
  }
  
  p,h1,h2,h3,h4,h5{
    text-align:   center;
  }
}

.img-round{
  border-radius: 100%;
  width:         90%;
  margin:        16px auto;
}

//////////SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #545;
  border-radius:4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757;
}

@media screen and (max-width: 700px) {
  #main{
    flex-direction: column;
    margin: 0px;
    min-width: 300px;
    max-width: none;
    width: auto;
  }
  #inner-body{
    margin: 0px;
    width: auto;
  }
  .list-item{
    margin: 4px;
  }

  article{
    padding: 0px 8px 4px 8px;
  }
  .list-footer{
    font-size: 0.8em;
  }
  .navbar{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    max-width: none;
    width: auto;
    margin: 0px;
    a{
      padding-top: 0px;
      border-top: none;
    }
  }
  .img-round{
    display: none;
  }
  .link-section{
    font-size: 0.7em;
    border-top: none;
    .link-icon{
      flex-basis: none;
    }
    i{
      font-size:     2em;
      margin:        none;
      padding:       none;
    }
  }
}
