@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
.container-x {
  display: flex;
}

.container-y {
  display: flex;
  flex-direction: column;
}

body {
  background: #501346;
  background-image: url(stars.png), linear-gradient(black, #112442, #501346);
  background-position: left top, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

#main {
  max-width: 1000px;
  margin: auto;
  font-family: "Assistant", sans-serif;
  color: #CBC0CC;
  height: 96vh;
  justify-content: space-between;
}
#main a {
  color: #DD88DD;
  text-decoration: none;
}
#main a:hover {
  color: white;
}

#inner-body {
  background: #090008A9;
  border: 1px solid #CBC0CC;
  margin-left: 16px;
  margin-right: 16px;
  flex-grow: 10;
  overflow: auto;
  min-width: 300px;
}

#ftr {
  text-align: center;
  font-family: monospace;
  font-size: 0.8em;
  color: #9b7b9e;
  position: absolute;
  bottom: 0;
  width: 100%;
}

article {
  padding: 0px 16px 8px 16px;
}
article h1, article h2, article h3, article h4, article h5 {
  display: block;
  background: #14181f;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}
article img {
  max-width: 100%;
  display: block;
  margin: auto;
}
article pre {
  max-width: 100%;
  display: block;
  margin: auto;
  overflow: auto;
  padding: 4px;
  border: 1px solid #CBC0CC70;
  border-radius: 2px;
}
article code {
  background: black;
  padding: 2px;
  color: #CBC0CC;
}
article .subheader {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  color: #9b7b9e;
}
article .source-link {
  font-family: monospace;
  color: gray;
  text-align: center;
  display: block;
}
article .img-collection {
  display: flex;
  width: 100%;
}
article .img-collection-piece {
  display: inline;
  max-width: 50%;
}

iframe {
  margin: auto;
  align-self: center;
  border: none;
  width: 100%;
}

.p5Canvas {
  display: block;
  align-self: center;
  margin-top: 16px;
}

.img-footer {
  max-width: 75%;
  text-align: left;
  margin: 8px auto auto auto;
  font-size: 0.8em;
  background: #14181f;
  padding: 8px;
  border-radius: 4px;
}

.back-button {
  align-self: center;
  display: flex;
  width: 25%;
  justify-content: center;
  border: 1px solid #CBC0CC70;
  background: black;
  margin: 4px;
  padding: 4px;
}

.item-list {
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.list-item {
  margin: 8px 8px 16px 8px;
  padding: 8px;
  background: black;
  border: 1px solid #CBC0CC70;
}

.list-title {
  display: block;
  font-size: 1.3em;
  border-bottom: 1px solid #CBC0CC70;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.expand-icon {
  color: gray;
  font-family: monospace;
  font-size: 0.8em;
}

.list-footer {
  color: #9b7b9e;
  display: flex;
  padding-top: 4px;
  justify-content: space-between;
  font-family: monospace;
}

.tag {
  margin-right: 4px;
  font-family: monospace;
}

.proj-content {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0px;
}

.navbar {
  background: #090008A9;
  border: 1px solid #CBC0CC;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 20%;
  min-width: 150px;
  max-width: 200px;
  color: #CBC0CC;
  padding: 8px;
}
.navbar a {
  margin: 8px;
  padding-top: 8px;
  border-top: 1px solid #464044;
}
.navbar .link-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding-top: 0px;
}
.navbar .link-section .link-icon {
  flex-basis: 40px;
}
.navbar .link-section a {
  border-top: none;
}
.navbar .link-section i {
  font-size: 2em;
  margin: none;
  padding: none;
}
.navbar p, .navbar h1, .navbar h2, .navbar h3, .navbar h4, .navbar h5 {
  text-align: center;
}

.img-round {
  border-radius: 100%;
  width: 90%;
  margin: 16px auto;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #545;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757;
}

@media screen and (max-width: 700px) {
  #main {
    flex-direction: column;
    margin: 0px;
    min-width: 300px;
    max-width: none;
    width: auto;
    border-top: none;
    border-bottom: none;
  }

  #inner-body {
    margin: 0px;
    width: auto;
  }

  .list-item {
    margin: 4px;
  }

  article {
    padding: 0px 8px 4px 8px;
  }

  .back-button {
    width: 50%;
  }

  .list-footer {
    font-size: 0.8em;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    max-width: none;
    width: auto;
    margin: 0px;
  }
  .navbar a {
    padding-top: 0px;
    border-top: none;
  }

  .link-section {
    font-size: 0.7em;
  }
  .link-section .link-icon {
    flex-basis: none;
  }
  .link-section i {
    font-size: 2em;
    margin: none;
    padding: none;
  }

  .img-round {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  #nav-secondary .link-name {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
