//////////DECLARATIVE

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$text-main:       #CBC0CC;
$text-secondary:  rgb(155, 123, 158);
$soft-outline:    #CBC0CC70;
$line:            #464044;
$background-1:    #120D16;
$background-trans:#09000899;

@mixin box {
  background: $background-trans;
  border:     1px solid $text-main;
}

.container-x{
  display: flex;
}

.container-y{
  display: flex;
  flex-direction: column;
}

//////////CENTER

body{
  background:         #501346;
  background-image:     url(stars.png), linear-gradient(black, rgb(17, 36, 66), #501346);
  background-position:  left top, center;
  background-size:      auto, cover;
  background-repeat:    repeat, no-repeat;
}

#main{
  max-width:        1000px;
  margin:           auto;
  font-family:      'Rubik', sans-serif;
  color:            $text-main;
  height:           97vh;
  justify-content:  space-between;
  a{
    color:         #DD88DD;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
}

#inner-body{
  @include box;
  margin-left:  16px;
  margin-right: 16px;
  flex-grow:    10;
  overflow:     auto;
  min-width:    300px;
}

article{
  padding:    0px 16px 8px 16px;
  text-align: justify;
  img{
    max-width: 100%;
    display:   block;
    margin:    auto;
  }
}

.back-button{
  align-self: center;
  display: flex;
  width: 25%;
  justify-content: center;
  border: 1px solid $soft-outline;
  background: black;
  margin: 4px;
  padding: 4px;
}

//////////ITEM-LISTS
.item-list{
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.list-item{
  margin: 8px 8px 16px 8px;
  padding: 8px;
  background: black;
  border: 1px solid $soft-outline;
}

.list-title{
  display: block;
  font-size: 1.3em;
  border-bottom: 1px solid $soft-outline;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.list-footer{
  color: $text-secondary;
  display: flex;
  justify-content: space-between;
}

.tag{
  margin-right: 4px;
  font-size: 0.8em;
}

//////////NAV/SIDES

.navbar{
  @include box;
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
  width:          20%;
  min-width:      150px;
  max-width:      200px;
  color:          $text-main;
  padding:        8px;
  a{
    margin:       8px;
    padding-top:  8px;
    border-top:   1px solid $line;
  }
  p,h1,h2,h3,h4,h5{
    text-align:   center;
  }
}

.img-round{
  border-radius: 100%;
  width:         90%;
  margin:        0px auto 16px auto;
}

//////////SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #545;
  border-radius:4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757;
}